<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>重置密码</title>
</head>
<body>
<div style="max-width: 600px;width: 100%;margin: auto;">
  <div
      style="background-color: rgb(0, 33, 64);border-radius: 8px 8px 0px 0px;
      color: white; padding: 12px 20px">贷后管理系统
  </div>
  <div style="padding: 70px;">
    <p style="margin-top: 6px">Hi，${name}</p>
    <p>我们收到了你重置密码的申请，请点击下方按钮进行重置。</p>
    <div style="text-align: center; margin-top: 60px">
      <a style="background-color: #FF7F50; padding: 10px 20px 10px 20px;border-radius: 4px;color:
          white;cursor: pointer;text-decoration: none" href="${url}" target="_blank">
        重置密码
      </a>
    </div>
  </div>
  <hr/>
</div>

</body>
</html>