<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>重置密码</title>
</head>
<body>
<div style="max-width: 600px;width: 100%;margin: auto;">
  <div
      style="background-color: rgb(0, 33, 64);border-radius: 8px 8px 0px 0px;
      color: white; padding: 12px 20px">贷后管理系统
  </div>
  <div style="padding: 70px;">
    <p style="margin-top: 6px">尊敬的用户</p>
    <p>您的验证码为：<font style="color: #FF7F50; font-weight: bold">${pinCode}</font>，
      请勿将验证码告知他人，如非本人操作，无须理会。</p>
  </div>
  <hr/>
</div>

</body>
</html>