<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat.mapper.PostponeHistoryMapper">
  <resultMap id="BaseResultMap" type="com.cat.module.entity.PostponeHistory">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="customer_id" jdbcType="VARCHAR" property="customerId" />
    <result column="postpone_count" jdbcType="INTEGER" property="postponeCount" />
    <result column="repay_amount" jdbcType="DECIMAL" property="repayAmount" />
    <result column="repayment_time" jdbcType="TIMESTAMP" property="repaymentTime" />
    <result column="channel" jdbcType="VARCHAR" property="channel" />
    <result column="bank_no" jdbcType="VARCHAR" property="bankNo" />
    <result column="collector_name" property="collectorName"/>
    <result column="collector_id" property="collectorId"/>
    <result column="postpone_days" jdbcType="VARCHAR" property="postponeDays" />
    <result column="product_type" jdbcType="VARCHAR" property="productType" />
    <result column="relief_amount" property="reliefAmount"/>
    <result column="postpone_time" property="postponeTime"/>
    <result column="last_payment_time" property="lastPaymentTime"/>
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_postpone_history
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cat.module.entity.PostponeHistory">
    insert into t_postpone_history (id, order_id, customer_id, 
      postpone_count,
      repay_amount, repayment_time,
      channel,
      bank_no,
      collector_name,
      collector_id,
      postpone_days,
      product_type,relief_amount,postpone_time, last_payment_time, created_time, updated_time
      )
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=VARCHAR}, #{customerId,jdbcType=VARCHAR}, 
      #{postponeCount,jdbcType=INTEGER},
      #{repayAmount,jdbcType=DECIMAL}, #{repaymentTime,jdbcType=TIMESTAMP},
      #{channel,jdbcType=VARCHAR},
      #{bankNo,jdbcType=VARCHAR},
      #{collectorName},
      #{collectorId},
      #{postponeDays,jdbcType=VARCHAR},
      #{productType,jdbcType=VARCHAR},#{reliefAmount}, #{postponeTime},#{lastPaymentTime}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cat.module.entity.PostponeHistory">
    update t_postpone_history
    set order_id = #{orderId,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=VARCHAR},
      postpone_count = #{postponeCount,jdbcType=INTEGER},
      repay_amount = #{repayAmount,jdbcType=DECIMAL},
      repayment_time = #{repaymentTime,jdbcType=TIMESTAMP},
      channel = #{channel,jdbcType=VARCHAR},
      bank_no = #{bankNo,jdbcType=VARCHAR},
      collector_name = #{collectorName},
      collector_id = #{collectorId},
      postpone_days = #{postponeDays,jdbcType=VARCHAR},
      product_type = #{productType,jdbcType=VARCHAR},
      relief_amount = #{reliefAmount},
      postpone_time =  #{postponeTime},
      last_payment_time =#{lastPaymentTime},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, order_id, customer_id,
      postpone_count,
      repay_amount, repayment_time,
      channel,
      bank_no,
      collector_name,
      collector_id,
      postpone_days,
      product_type,relief_amount,postpone_time, last_payment_time, created_time, updated_time
    from t_postpone_history
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, order_id, customer_id,
      postpone_count,
      repay_amount, repayment_time,
      channel,
      bank_no,
      collector_name,
      collector_id,
      postpone_days,
      product_type,relief_amount,postpone_time, last_payment_time, created_time, updated_time
    from t_postpone_history
  </select>
  <select id="selectHistoriesByOrderId" resultMap="BaseResultMap">
    select id, order_id, customer_id,
      postpone_count,
      repay_amount, repayment_time,
      channel,
      bank_no,
      collector_name,
      collector_id,
      postpone_days,
      product_type,relief_amount,postpone_time, last_payment_time, created_time, updated_time
    from t_postpone_history
    WHERE order_id = #{orderId}
    ORDER BY created_time DESC;
  </select>
</mapper>