<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat.mapper.TaskMapper">
<select id="findTaskList" resultType="com.cat.module.dto.TaskDto">
	SELECT
		u.name AS "name",
		t.mobile AS "mobile",
		CASE
	      WHEN t.order_status = 'payoff' THEN 0
	      WHEN t.order_status = 'payment' and DATEDIFF(CURDATE(), t.repayment_time)>0 
	      THEN DATEDIFF(CURDATE(), t.repayment_time)*t.penalty_value + IFNULL(t.loan_amount,0)+IFNULL(t.interest_value,0)
	    END  AS "repayAmount",
		IFNULL(t.loan_amount,0)+IFNULL(t.interest_value,0) AS "loanAmount",
		t.repayment_time AS "repaymentTime",
		t.order_status AS "orderStatus",
		t.collect_tel_remark AS "remark",
		t.order_id AS "orderId",
		t.collector_name AS "collectorName",
		t.payoff_time AS "payoffTime",
		CASE
	      WHEN t.order_status = 'payoff' THEN DATEDIFF(t.payoff_time,t.repayment_time)
	      WHEN t.order_status = 'payment' THEN DATEDIFF(CURDATE(), t.repayment_time)
	    END  AS "overdueDays"
	FROM
	`t_task` t
	LEFT JOIN t_user u ON t.collector_id = u.id
	<where>
		<if test="name != null and name != ''">
			AND t.customer_name LIKE concat('%',#{realname},'%')
		</if>
		<if test="mobile != null and mobile != ''">
			AND t.mobile LIKE concat(#{mobile},'%')
		</if>
		<if test="orderId != null and orderId != ''">
			AND t.order_id = #{orderId}
		</if>
		<if test="collectorId != null and collectorId != ''">
			AND t.collector_id = #{collectorId}
		</if>
		<if test="actionFeedbackType != null and actionFeedbackType != ''">
			AND t.action_feedback = #{actionFeedbackType}
		</if>
		<if test="orderStatus != null and orderStatus != ''">
			AND t.order_status = #{orderStatus}
		</if>
		<if test="payoffTimeStart != null and payoffTimeEnd != null and payoffTimeStart != '' and payoffTimeEnd != ''">
            AND t.payoff_time BETWEEN #{payoffTimeStart} AND #{payoffTimeEnd}
        </if>
        <if test="overdueDaysStart != null and overdueDaysEnd != null and overdueDaysStart != '' and overdueDaysEnd != ''">
            AND DATEDIFF(NOW(),t.repayment_time) BETWEEN #{overdueDaysStart} AND #{overdueDaysEnd}
        </if>
        
		<!-- 角色条件 -->
        <if test="organizationId != null and organizationId != ''">
				<!--   主管 -->
			AND u.organization_id = #{organizationId}
		</if>
        and t.collect_task_status in ("TASK_IN_PROGRESS","TASK_POSTPONE")
        
	</where>

</select>


</mapper>