<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat.mapper.TaskLogMapper">
    
	<insert id="batchInsertTaskLog">
        INSERT INTO t_mis_dunning_task_log(
			order_id,
            collector_id,
            collector_name,
            collect_cycle,
            order_status,
            payoff_time,
            loan_term,
            customer_id,
            customer_name,
            mobile,
            repayment_time,
            loan_amount,
            lent_amount,
            interest_mode,
            interest_value,
            penalty_mode,
            penalty_value,
            relief_amount,
            charge_value,
            postpone_unit_charge,
            postpone_count,
            behavior_status,
            collect_task_status,
            task_id,
            overdue_days,
            platformext,
            creditamount
        ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
              #{item.orderId}
            , #{,ectorId}
            , #{item.collectorName}
            , #{item.collectCycle} 
            , #{item.orderStatus} 
            , #{item.payoffTime} 
            , #{item.loanTerm} 
            , #{item.customerId} 
            , #{item.customerName} 
            , #{item.mobile} 
            , #{item.repaymentTime} 
            , #{item.loanAmount} 
            , #{item.lentAmount} 
            , #{item.interestMode} 
            , #{item.interestValue} 
            , #{item.penaltyMode} 
            , #{item.penaltyValue} 
            , #{item.reliefAmount} 
            , #{item.chargeValue} 
            , #{item.postponeUnitCharge} 
            , #{item.postponeCount} 
            , #{item.behaviorStatus} 
            , #{item.collectTaskStatus} 
            , #{item.taskId} 
            , #{item.overdueDays} 
            , #{item.platformext} 
            , #{item.creditamount} 
            )
        </foreach>
    </insert>
	
</mapper>